<ion-view view-title="Discover" class="discover-page">
  <ion-content scroll="false">
    <div>
      <h2>Hack Your Brain </h2>
    </div>
    <div>
      <h4>Choose Wisely</h4>
    </div>
    <div class="list card current-product"
    ng-class="{skipped: currentProduct.rated == false,
favorited: currentProduct.rated == true}"
    ng-show="currentProduct && !currentProduct.hide">
      <div class="item item-image">
        <img ng-src="{{currentProduct.thumbnail}}">

      </div>
      <div class="item">
        <h2>{{currentProduct.name}}</h2>
      </div>
      <div class="item tabs tabs-secondary tabs-icon-left">
        <a class="tab-item" ng-click="sendFeedback(false)">
          <i class="icon ion-close"></i>
          NO
        </a>
         <a class="tab-item" ng-click="sendFeedback(true)">
          <i class="icon ion-heart"></i>
          YES
        </a>
      </div>
    </div>
  </ion-content>
</ion-view>
